@font-face {
  font-family: 'Familjen Grotesk';
  src: url(../assets/fonts/FamiljenGrotesk-VariableFont_wght.ttf);
}

:root {
  color-scheme: light dark;
  color: CanvasText;
  font-family: Inter, Arial, Helvetica, sans-serif;
  --accent: #649bee;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.heading {
  font-size: xx-large;
  font-family: 'Familjen Grotesk', Inter, Arial, sans-serif;
  text-align: center;
}

.override-mode {
  border: 1px solid;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  gap: 1rem;
  overflow: hidden;
  border-color: gray;
  cursor: pointer;
}

.override-mode-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.override-mode-description {
  max-width: 100%;
  word-wrap: break-word;
  color: color-mix(in srgb, CanvasText 75%, Canvas);
}

.override-options {
  display: flex;
  gap: 1.5rem;
  width: 70%;
  box-sizing: border-box;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 100%;
  padding-top: 5rem;
  box-sizing: border-box;
}

label:has(> input[type="radio"]:checked) {
  border-color: var(--accent);
}

.override-mode-details>img {
  user-select: none;
  pointer-events: none;
}

label {
  position: relative;
}

button {
  cursor: pointer;
}

button[type="submit"] {
  height: 100%;
  padding: 0 1rem;
  background-color: var(--accent);
  border-radius: 0.25rem;
  border: 0;
  color: white;
}

input[type="url"] {
  border-radius: 0.25rem;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  width: 20vw;
  max-width: 600px;
}

.radio-header {
  font-size: large;
  font-weight: 500;
}

#save-success {
  margin-left: 0.5rem;
  margin-top: -0.2rem;
  padding: 0.25rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease;
}

#save-success.visible {
  opacity: 1;
  visibility: visible;
}

.tooltip-trigger {
  color: GrayText;
  text-decoration: underline dotted;
  cursor: help;
}

[role="tooltip"] {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 0rem;
  left: 100%;
  background: Field;
  color: CanvasText;
  border: Canvas;
  padding: 0 1rem;
  border-radius: 0.25rem;
  width: max-content;
  max-width: 400px;
  transition: visibility 0.1s;
}

[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}

[aria-describedby]:hover+[role="tooltip"],
[aria-describedby]:focus+[role="tooltip"],
[role="tooltip"]:hover,
[role="tooltip"]:focus {
  visibility: visible;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  font: caption;
  color: color-mix(in srgb, CanvasText 30%, transparent);
}